
@import url("elegant.css");
@import url("themify-icons.css");
@import url("shortcodes.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	   -ms-text-size-adjust: 100%;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	   -ms-text-size-adjust: 100%;
}
                          
ol, ul {
	list-style: none;
}


:focus {
	outline: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}	

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font: 14px/22px "Montserrat", sans-serif;
	background-color: #fff;		
	color: #7c7c7c;
	overflow: hidden;
}

a {		
	text-decoration: none;
	color: #979797;
	font-family: 'Montserrat';
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #f1a619;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

ul, ol {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;		
}

b, strong {
	font-weight: 900;
}

button {
	border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {		
    display: inline-block;
    color: #fff;
    padding: 0px 29px 0 30px;
    height: 46px;
    line-height: 42px;
    font-size: 13px;
    color: #ffffff;
    background: #f1a619;
    border: 2px solid #f1a619;
    font-weight: 500;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: transparent;
	color: #181818;
}

select,
textarea,
input[type="text"],
input[type="email"] {	
	position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 8px 15px;
    color: #222222;
    border: 1px solid #d0d0d0;
    height: 46px;
    background-color: #fff;
    border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

textarea {
	width: 100%;
	padding: 10px 15px;    
    height: 170px;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {		
	color: #c0c0c0;
	font-style: italic;
}

input:-ms-input-placeholder {
	color: #c0c0c0;
	font-style: italic;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #c0c0c0;
	font-style: italic;
}

/* bootstrap resetting elements */

textarea, 
input[type="text"],
input[type="submit"],
 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #191919;
}

h1 { font-size: 36px;}
h2 { font-size: 24px;}
h3 { font-size: 18px;}
h4 { font-size: 16px;}
h5 { font-size: 14px;}



.container {
	width: 1200px;
	max-width: 100%;
}

.clearfix {
	clear: both;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.one-half {
	width: 50%;
	float: left;
}

.one-three {
	width: 33.33%;
	float: left;
}

.one-four {
	width: 25%;
	float: left;
}

.one-five {
	width: 20%;
}

.bg-white {
	background-color: #fff;
}

.bg-browse {
	background-color: #f7f7f7;
}

.pdr-30 {
	padding-right: 30px;
}

.pdl-30 {
	padding-left: 30px;
}

.color-green {
	color: #1be600 !important;
}

.color-red {
	color: #de2e2e !important;
}


.themesflat-top {
	background-color: #181818;
	font-size: 12px;
	padding: 5px 0 5px;
}

.flat-infomation {
	float: left;
}

.flat-infomation li,
.box-account li {
	font-family: 'Montserrat';
	display: inline-block;
	position: relative;
	font-size: 12px;
	line-height: 30px;
	padding-left: 20px;
	color: #f1a619;
}

.flat-infomation li {
	margin-right: 27px;
}

.box-account li a,
.flat-infomation li a {
	color: #fff;
}

.box-account li a:hover,
.flat-infomation li a:hover {
	color: #f1a619;
}

.flat-infomation li:before,
ul.box-account li:before {
	content: "\f095";
	position: absolute;
	top: 0px;
	left: 0px;
	font-family: 'FontAwesome';
}

.flat-infomation li.email:before {
	content: "\f0e0";
}

/* Box Account */
.box-account {
	float: right;
}

ul.box-account li {
	margin-left: 23px;
	padding-left: 19px;
}

ul.box-account li.login:before {
	content: "\f007";
}

ul.box-account li.sign-in:before {
	content: "\f090";
}

/* Header 
---------------------------------------------------------------*/
.header {
	position: relative;
	background-color: #ffffff;	
	-webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
         -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#header.fixed-header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1005;
	background-color: #ffffff;
	width: 100%;
}

.logo {
	margin-top: 26px;
	float: left;
}

/* Main Menu
---------------------------------------------------------------*/
.header-wrap {
	width: 100%;
	padding: 0 15px;
}

.nav-wrap {
	float: right;
}

#mainnav .menu > li {
	display: inline-block;
	position: relative;
}

#mainnav .menu > li > a {
	line-height: 80px;
	display: block;
	padding: 0 20px;
	color: #000002;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

#mainnav .menu > li.active > a,
#mainnav .menu > li > a:hover {
	color: #f1a619;
}

#mainnav .menu > li:last-child a {
	padding-right: 0;
}

#mainnav .menu > li a i.fa {
	padding-left: 6px;
}

/* Sub-menu */
#mainnav .menu > li > .sub-menu {
	opacity: 0;
	position: absolute;
	width: 220px;
	top: 120%;
	left: 0;
	visibility: hidden;
	z-index: 99;
	box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

#mainnav .menu > li:last-child .sub-menu {
	left: auto;
	right: 0;
}

#mainnav .menu > li:hover > .sub-menu {
	opacity: 1;
	top: 80px;
	visibility: visible;
	-webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

#mainnav .menu > li > .sub-menu > li {
	padding-left: 20px;
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
}

#mainnav .menu > li > .sub-menu > li > a {
	display: block;
	font-family: 'Montserrat';
	line-height: 41px;
	color: #777777;
	position: relative;
	overflow: hidden;
}

#mainnav .menu > li > .sub-menu > li > a:before {
	content: '\f0da';
	position: absolute;
	font-family: 'fontawesome';
	top: 0;
	left: -10px;
	color: #f1a619;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

#mainnav .menu > li > .sub-menu > li.active > a:before,
#mainnav .menu > li > .sub-menu > li > a:hover:before {
	left: 0px;
	opacity: 1;
}

#mainnav .menu > li > .sub-menu > li.active > a,
#mainnav .menu > li > .sub-menu > li > a:hover {
	color: #f1a619;
	padding-left: 15px;
}


.btn-menu {
	display: none;
	float: right;
	position: relative;
	background: transparent;
	cursor: pointer;
	margin: 30px 0px 30px 0px;
	width: 26px;
	height: 16px;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
	background-color: #f1a619;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
	content: "";
	position: absolute;
	top: 0;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.btn-menu span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

.btn-menu:before {
	-webkit-transform: translate3d(0, -7px, 0);
	        transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
	-webkit-transform: translate3d(0, 7px, 0);
            transform: translate3d(0, 7px, 0);
}

.btn-menu.active span {
	opacity: 0;
}

.btn-menu.active:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
   position: absolute;
   right: 0px;
   top: 0;
   font: 20px/50px 'FontAwesome';
   text-align: center;
   cursor: pointer;
   width: 50px;
   height: 50px;
}

.btn-submenu:before {
   content: "\f107";
   color: #fff;
}

.btn-submenu.active:before {
   content: "\f106";
}

.btn-menu {
   display: none; 
}

/* Page Title 
---------------------------------------------------------------*/
.page-title {
	padding: 150px 0px 150px 0px;
	background-color: #000000;
    color: #ffffff;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}



/* Footer */
.footer {
	padding: 70px 0 69px;
}

.footer-widgets {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer-widgets .widget .widget-title {
	color: #f1a619;
	font-weight: 600;
	margin-bottom: 16px;
}

/* Widget About */
.widget-about {
	padding-right: 70px;
}

.widget-about #logo-ft {
	margin-bottom: 24px;
}

.widget-about .widget-text {
	margin-bottom: 32px;
}

.widget-about .widget-text p {
	color: #fff;
	line-height: 24px;
}

/* widget-newletter */
.widget-newletter #subscribe-content {
	position: relative;
}

.widget-newletter #subscribe-content .input-email input {
	height: 40px;
	background-color: #fff;
	border-radius: 0px;
	margin-bottom: 0;
}

.widget-newletter #subscribe-content button {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	padding: 0 12px;
	border-radius: 0px;
}

.widget-newletter #subscribe-content button:hover {
	background-color: #252525;
	color: #fff;
	border-color: #252525;
}

/* widget nav menu */
.widget_nav_menu {
	margin-top: 8px;
	padding-left: 71px;
}

.widget_nav_menu .menu-footer li {
	line-height: 32px;
}

.widget_nav_menu .menu-footer li i {
	padding-right: 5px;
}

.widget_nav_menu .menu-footer li a:not(:hover) {
	color: #c0c0c0;
}

/* Widget Contact */
.widget_contact {
	padding-left: 70px;
	margin-top: 8px;
}

.footer-widgets .widget.widget_contact .widget-title {
	margin-bottom: 20px;
}

.widget_contact .contact-list li {
	line-height: 24px;
	margin-bottom: 6px;
}

.widget_contact .contact-list li span {
	color: #fff;
}

/* Widget Themesflat Socials */
.widget_themesflat_socials {
	margin-top: 30px;
}

.widget_themesflat_socials .themesflat-shortcode-socials li {
	display: inline-block;
	margin-right: 8px;
}

.widget_themesflat_socials .themesflat-shortcode-socials li:last-child {
	margin-right: 0;
}

.widget_themesflat_socials .themesflat-shortcode-socials li a {
	display: block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #494949;
	color: rgb(188, 38, 38);
}

.widget_themesflat_socials .themesflat-shortcode-socials li a:hover {
	background-color: #f1a619;
	border-color: #f1a619;
}

/* Footer Bottom */
.footer-bottom .container .row:before {
	content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background: rgba(255, 255, 255, 0.1);
    top: 0;
}

.footer-bottom .copyright {
	padding: 25px 0;
	float: left;
}

.footer-bottom .copyright p {
	font-size: 12px;
	letter-spacing: 0.7px;
}

.footer-bottom .copyright a {
	color: #fff;
}

.footer-bottom .copyright a:hover {
	color: #f1a619;
}

.menu-ft-bottom {
	float: right;
	padding: 21px 0;
}

.menu-ft-bottom li {
	display: inline-block;
	margin-left: 23px;
	font-size: 12px;
}

.menu-ft-bottom li a:not(:hover) {
	color: #bfbfbf;
}


/* Widget Title */
.widget .widget-title {
	margin-bottom: 28px;
	color: #0e0e0e;
	position: relative;
	font-weight: 500;
	letter-spacing: -0.2px;
}


